.footer{
    position: fixed;
    bottom: 0px;
    text-align: center;
    background: #3b3b3e;
    display: block;
    width: 100%;
    color: white;
    height: 5em;
} 

.item{
display: inline-block;
margin: 0em .3em;
}

.item-list{
float: right;
margin: 1em 3em;
}