<div class="footer">
  <div class="social-container">
    <ul class="item-list">
        <li class="item">
          <a href="https://www.facebook.com/bushan.nagendra" class="waves-effect waves-light btn-floating social facebook">
          <i class="fa fa-facebook"></i> Sign in with facebook</a></li>
          <li class="item">
              <a href="https://github.com/bushan1891" class="waves-effect waves-light btn-floating social github">
                  <i class="fa fa-github"></i> Sign in with github</a>
          </li>
          <li class="item">
              <a href="https://www.instagram.com/bushan1891/" class="waves-effect waves-light btn-floating social instagram">
                  <i class="fa fa-instagram"></i> Sign in with instagram</a>
          </li>
          <li class="item">
              <a href="https://www.linkedin.com/in/nagendra-balachandra-05050359/" class="waves-effect waves-light btn-floating social linkedin">
                  <i class="fa fa-linkedin"></i> Sign in with linkedin</a>
          </li>
    </ul>
  </div>
</div>