<div class="home-container">
    <div id="background-wrap">
        <div class="x1">
            <div class="cloud salesforce">Linux Guru</div>
        </div>
    
        <div class="x2">
            <div class="cloud salesforce">ServiceNow</div>
        </div>
    
        <div class="x3">
            <div class="cloud salesforce">Box</div>
        </div>
    
        <div class="x4">
            <div class="cloud salesforce">AWS</div>
        </div>
    
        <div class="x5">
            <div class="cloud salesforce">Salesforce</div>
        </div>
    </div>
<div class="img-container">
  <img src="../../assets/bushan.jpg" alt="">
  <mat-card-header>
    <mat-card-title class="title">Nagendra Balachandra</mat-card-title>
    <div class="sub-text">Salesforce Certified Platform Developer | Developer Evangelist Paladin | Box Developer | ServiceNow Developer | Integration Specialist</div>
    <a class="waves-effect waves-light btn"><i class="material-icons left">insert_drive_file</i>Resume</a>
    <a href="https://www.linkedin.com/in/nagendra-balachandra-05050359/" class="waves-effect waves-light btn"> <i class="fa fa-linkedin"></i></a>
</mat-card-header>
</div>

</div>